<% content_for :meta_head do %>
  <title><%= @article.title %></title>
  <meta name="description" content="<%= truncate(@article.content.to_plain_text, length: 100) %>" />
  <meta property="og:title" content="<%= @article.title %>" />
  <meta property="og:description" content="<%= truncate(@article.content.to_plain_text, length: 100) %>" />
  <meta property="og:type" content="article"/>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Back', articles_path %>
