<nav class="navbar navbar-light bg-light mb-3">
  <%= link_to 'Articles', root_path, class: 'navbar-brand' %>
  <%= link_to 'Admin panel', admin_path if current_user.is_a?(Admin) %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </span>
</nav>
